---
layout: base_layout

# The name of your project
title: Spring Data LDAP

badges:

  # Specify your project's twitter handle, if any. Delete if none.
  twitter: SpringData

  # Customize your project's badges. Delete any entries that do not apply.
  custom:
    - name: Source (GitHub)
      url:  https://github.com/spring-projects/spring-data-ldap
      icon: github

    - name: Issues (JIRA)
      url:  https://jira.spring.io/browse/DATALDAP
      icon: tracking

    - name: CI (Bamboo)
      url:  https://build.spring.io/browse/SPRINGDATALDAP-LDAP
      icon: ci

    - name: StackOverflow
      url:  http://stackoverflow.com/questions/tagged/spring+ldap
      icon: stackoverflow
---
<!DOCTYPE HTML>
<html lang="en-US">

<!-- Specify the parent of this project (or delete if none) to influence the rendering of the breadcrumb -->
{% capture parent_link %}
[Spring Data]({{ site.projects_site_url }}/spring-data)
{% endcapture %}


{% capture billboard_description %}
Spring Data for [Spring LDAP](http://projects.spring.io/spring-ldap/) is part of the umbrella Spring Data project which aims to provide a familiar and consistent Repository abstractions for new Spring LDAP.
{% endcapture %}

{% capture main_content %}

## Introduction

The Spring Data LDAP project provides repository abstractions for [Spring LDAP](http://projects.spring.io/spring-ldap/) on top of
Spring LDAP\'s `LdapTemplate` and [Object-Directory Mapping](http://docs.spring.io/spring-ldap/docs/current/reference/#odm).

## Features

* Spring configuration support using Java based `@Configuration` classes or an XML namespace.
* Annotation based mapping metadata
* Automatic implementation of Repository interfaces including support for custom finder methods.
* QueryDSL integration to support type-safe queries.

<span id="quick-start"></span>

## Quick Start

{% include download_widget.md %}

{% endcapture %}

{% capture related_resources %}

### Sample Projects

* [Spring LDAP Samples](https://github.com/spring-projects/spring-ldap/tree/master/samples)

{% endcapture %}

{% include project_page.html %}
</html>
